@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
:root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.bg-gr {
  background-image: linear-gradient(
    122deg,
    rgb(250, 85, 96) 0.01%,
    rgb(177, 75, 244) 49.9%,
    rgb(77, 145, 255) 100%
  );
  box-shadow: rgba(161, 128, 255, 0.6) 0px 0px calc(0.5rem) 0px;
  animation-timing-function: ease-out;
  animation-duration: 200ms;
  color: #fff;
}
